<html>
  <head>
    <title>USD to BGN Price Notifier</title>
    <style>
      img{ width:100%; height: auto;}
    </style>
  </head>
  <body>
    <h1>{{emailText}}</h1>
    <img
      src="{{imageUrl}}"
      alt="example image"
    />
  </body>
</html>